body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }
    
    .container {
    max-width: 1440px;
    margin: 0 auto;
    }
    body {
        background-color: bisque;
    }
    h1{
        color: slateblue;
        text-align: center;
    }
    h2{
        color: blueviolet;
        text-align: center;
    }
    header {
        background-color: aquamarine;
        text-align: left;
    }
    
    footer {
        background-color: aqua;
        text-align: center;
    }